.business-viewer {
    width: 100%;
    padding: 21px 5vw;
    box-sizing: border-box;
    background-color: #212121;
}

.business-document ul li {
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin: 13px 0;

}

.business-document h3 {
    text-align: center;
    text-align: left;
}

.finished-asset {
    border-radius: 34px;
    padding: 21px 55px;
    box-sizing: border-box;
    color: #212121;
    margin: 13px auto;
}

.business-document {
    padding: 55px 21px;
    margin: 34px 15vw;
    border: 1px solid #212121;
    background-color: #fff;

}

.download-pdf-btn {
    margin: 0 auto;
    padding: 5px 13px 8px 13px;
    color: #fff;
    border-color: #fff;
    background: #1AA09B;
    cursor: pointer;
    border-radius: 13px;
}

.download-pdf-btn:hover {
    margin: 0 auto;
    padding: 5px 13px 8px 13px;
    color: #1AA09B;
    border-color: #1AA09B;
    background: #fff;
    cursor: pointer;
    border-radius: 13px;
}

.business-document h1 {

    text-align: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    color: #1AA09B;

}

.business-viewer input {
    display: block;
    margin: 13px auto;

}

.business-viewer label {
    color: #fff;
}


.project-name-field {
    width: 377px;
    height: 34px;
    padding: 0 13px;
    border-radius: 13px;
    background-color: #353535;
    border: 1px solid #eee;
    color: #fff;
    box-sizing: border-box;
}

.save-business-btn {
    color: #fff;
    border: 1px solid #fff;
}

.business-viewer .control-buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: fit-content;
    margin: 0 auto;
    gap: 21px;
}

.business-viewer .control-buttons button {
    margin: 0 auto;
    padding: 5px 13px;
    color: #fff;
    border-color: #fff;

    background: none;
    cursor: pointer;
}

.business-viewer .control-buttons button:hover {

    color: #A01A1F;
    border-color: #A01A1F;

    background-color: #fff;
}

.business-document p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    text-align: left;
}