.finishing-up {
    width: 100%;
    padding: 21px 5vw;
    box-sizing: border-box;
    background-color: #fff;
}

.assets {

    margin: 55px auto;
}


.asset textarea {
    width: 610px;
    height: 200px;
    padding: 21px;
    box-sizing: border-box;
    resize: none;
    font-size: 16px;
    border-radius: 13px;
    background: none;
}

.finishing-up .builder-body {
    width: 100%;
    padding: 0;
}

.finishing-up .area-view {
    padding: 0;
    width: 50%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 0;
}

.finishing-up .areas {
    width: 50%;
}

.finishing-up h3 {
    color: #0ABDBA;
}

.finishing-up li {
    color: #0ABDBA;
}

.finishing-up textarea {
    color: #0ABDBA;
}

.finishing-up h4 {
    color: #0ABDBA;
}