.home-page .usp {
    font-size: 47px;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 0 0 13px #A01A1F;
    width: 233px;
    font-weight: bolder;
    margin: 55px auto;
    background: rgba(25, 25, 25, 0.628)
}

.home-page .usp_and_cta {
    width: 610px;

}

/*
    Color Scheme: #212121, #A01A1F, #EA5849, #EA2100, #BD0A0D, #353535
*/

.home-page .cta-btn {

    background-color: #EA2100;
    color: #fff;
    padding: 13px 34px;
    font-size: 29px;
    border: 5px solid #fff;
    border-radius: 13px;
}


.home-page .cta-btn:hover {
    background-color: #fff;
    color: #EA2100;
    border: 5px solid #EA2100;
    font-size: 29px;

}

.home-page {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.home-page .front-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-size: cover;
    height: calc(100vh - 144px);
    padding: 21px 144px;
    box-sizing: border-box;
    margin-bottom: 55px;
}

.home-page .home-copy {
    width: 100%;
    padding: 21px 23vw;
    box-sizing: border-box;
}

.home-copy p {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}


.home-copy h5 {
    font-size: 21px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    text-align: left;
}

.home-copy h4 {
    font-size: 29px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}