/*
    Color Scheme: #212121, #A01A1F, #EA5849, #EA2100, #BD0A0D, #353535
*/

.user-dashboard {
    width: 100%;
    padding: 55px 23vw;
    box-sizing: border-box;

}


.user-dashboard .dashboard-projects {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px;
}

.dashboard-projects .dashboard-project {

    border-radius: 13px;
    background: linear-gradient(-34deg, #eeeeee, #dddddd);
    color: #212121;
    height: 177px;
    max-height: 177px;
    padding: 0 21px;
    box-sizing: border-box;
    max-width: 400px;
}

.dashboard-project h6 {
    font-size: 13px;
    margin: 0 0 21px 0;
}

.dashboard-project h3 {
    color: #A01A1F;
}

.dashboard-project h3 {
    margin-bottom: 13px;
}

.dashboard-project p {
    max-height: 21px;
    overflow: hidden;
}

.view-project-btn {
    margin: 0;
    padding: 5px 13px;
    color: #212121;
    border-color: #fff;
}